@font-face {
    font-family: 'Pretendard-Regular';
    src: url('./Pretendard-Regualr.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Semibold';
    src: url('./Pretendard-Semibold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}